<%- include('../layouts/header') %>
    <!--ITT A DRAFT ORDERT KÉNE MEGJELENÍTENI & AZT HOGY ÉPPEN KI DRAFTOL-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3">
                <p>Drafted players</p>
                <p>Pg: </p>
                <p>Sg: </p>
                <p>Sf: </p>
                <p>Pf: </p>
                <p>C: </p>
                <p>?:</p>
            </div>
            <div class="col-sm-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Team</th>
                            <!--<th scope="col">Draft</th>
                            <th scope="col">Point avg</th>
                            <th scope="col">Assist avg</th>
                            <th scope="col">Rebound avg</th>
                            <th scope="col">Steal avg</th>
                            <th scope="col">Block avg</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i< 50; i++){ %>
                            <tr>
                                <td><%= nba.players[i].name %></td>
                                <td><%= nba.players[i].team %></td>
                                <td><button class="btn btn-success btn-block">Draft</button></td>
                            </tr>
                        <% } %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer') %>