<%- include('../layouts/header') %>
    <!--ITT A DRAFT ORDERT KÉNE MEGJELENÍTENI & AZT HOGY ÉPPEN KI DRAFTOL-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3">
                <p>Drafted players</p>
                <p>Pg: </p>
                <p>Sg: </p>
                <p>Sf: LeBron James</p>
                <p>Pf: </p>
                <p>C: </p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
                <p>?:</p>
            </div>
            <!--LISTA A JÁTÉKOSOKRÓL A JSON FILEBOL-->
            <div class="col-sm-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Draft</th>
                            <th scope="col">Point avg</th>
                            <th scope="col">Assist avg</th>
                            <th scope="col">Rebound avg</th>
                            <th scope="col">Steal avg</th>
                            <th scope="col">Block avg</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lebron</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Curry</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lillard</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>32.1</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lebron</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Curry</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lillard</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>32.1</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lebron</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Curry</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lillard</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>32.1</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lebron</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Curry</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lillard</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>32.1</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lebron</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Curry</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>28.3</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                        <tr>
                            <td>Lillard</td>
                            <td><button class="btn btn-success btn-block">Draft</button></td>
                            <td>32.1</td>
                            <td>7.2</td>
                            <td>6.8</td>
                            <td>1.6</td>
                            <td>0.9</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer') %>