<%- include('../layouts/header') %>

    <main class="container mt-5">
        <h1 class="text-center">Your team in - LEAGUE NAME - league</h1>
        <div class="row mt-3">
            <div class="col-6">
                <h2 class="text-center">Starters</h2>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Position</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">PG</th>
                            <td>Stephen Curry</td>
                            <td><button class="btn btn-danger">Take out</button></td>

                        </tr>
                        <tr>
                            <th scope="row">SG</th>
                            <td>Luka Doncic</td>
                            <td><button class="btn btn-danger">Take out</button></td>

                        </tr>
                        <tr>
                            <th scope="row">SF</th>
                            <td>LeBron James</td>
                            <td><button class="btn btn-danger">Take out</button></td>

                        </tr>
                        <tr>
                            <th scope="row">PF</th>
                            <td>Giannis Antetokounmpo</td>
                            <td><button class="btn btn-danger">Take out</button></td>

                        </tr>
                        <tr>
                            <th scope="row">C</th>
                            <td>Nikola Jokic</td>
                            <td><button class="btn btn-danger">Take out</button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h2 class="text-center">Bench</h2>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Position</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">PG</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>

                        </tr>
                        <tr>
                            <th scope="row">SG</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>

                        </tr>
                        <tr>
                            <th scope="row">SF</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>

                        </tr>
                        <tr>
                            <th scope="row">PF</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>

                        </tr>
                        <tr>
                            <th scope="row">C</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>
                        </tr>
                        <tr>
                            <th scope="row">C</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>
                        </tr>
                        <tr>
                            <th scope="row">C</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>
                        </tr>
                        <tr>
                            <th scope="row">C</th>
                            <td>SOMEONE</td>
                            <td><button class="btn btn-success">To starters</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-success">Commit changes</button>
            <a class="btn btn-danger" href="/league/asdfsdgfuih">Cancel</a>
        </div>

    </main>





    <%- include('../layouts/footer') %>