<%- include('../layouts/header') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="/pictures/neonbrand-UegcSdRtmlg-unsplash.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Forgot your password?</h5>
                        <form action="" method="" class="needs-validation" novalidate>
                            <p>We'll send you a new password to your email address!</p>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide an email address.
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success btn-block">Send me a new password</button>
                                <a class="btn btn-danger" href="/login">Cancel</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer') %>